@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: "DM Serif Display", serif;
}

.Heading {
	font-size: 120px;
	&:hover {
		color: white;
	}
}

.Heading-options {
	font-size: 40px;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: rosybrown;
	}
}
.picture {
	height: 200px;
	width: auto;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 1 / 3 / 2 / 4;
}
.div4 {
	grid-area: 1 / 4 / 2 / 5;
}
.div5 {
	grid-area: 2 / 1 / 3 / 2;
}
.div6 {
	grid-area: 2 / 2 / 3 / 3;
}
.div7 {
	grid-area: 2 / 3 / 3 / 4;
}
.div8 {
	grid-area: 2 / 4 / 3 / 5;
}
.div9 {
	grid-area: 3 / 2 / 4 / 3;
}
.div10 {
	grid-area: 3 / 3 / 4 / 4;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10 {
	border: 3px dotted white;
	background-color: #CDBA99;
	border-radius: 6px;
	margin: 10px;
	&:hover {
		background-color: lightslategrey;
		opacity: 0.7;
	}
}

.button {
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}

.text-form {
	padding: 5px;
	border: 2px solid black;
	border-radius: 6px;
	background-color: #CDBA99;
	margin-right: 5px;

}